:root{
  --main-bg-color: #333;
  --buttons-main-1: rgba(255, 97, 163, 1);
  --buttons-main-2: rgba(254, 132, 121, 1);
}

body{background: var(--main-bg-color);}

#controllers{
  position: relative;

  .pipe{
    background: #ccc;
    height: 5px;
    width: 100%;
    position: relative;

    .pin{
      position: absolute;
      width: 40%;
      background: linear-gradient(
        90deg,
        var(--buttons-main-1) 23%,
        var(--buttons-main-2) 78%
      );
      height: 100%;
      top: 0;
      left: 0;

      &:after{
        content: "";
        display: block;
        right: 0;
        top: 0;
        width: 15px;
        height: 15px;
        background: var(--buttons-main-1);
        position: absolute;
        border-radius: 50%;
        transform: translate(50%, calc((50% - 3px) * -1));
      }
    }
  }

  .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    &>div{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: linear-gradient(
        90deg,
        var(--buttons-main-1) 23%,
        var(--buttons-main-2) 78%
      );
      height: 40px;
      width: 40px;
      cursor: pointer;
    }

    i{
      font-size: 21px;
      color: #fff
    }

    #playPause{
      width: 60px;
      height: 60px;
      margin: 0 10px;

      i{
        font-size: 25px;

        &.fa-play{
          position: relative;
          left: 3px;
        }
      }
    }
  }

  

  .volume{
    position: absolute;
    bottom: 20px;
    right: 10px;
  
    input{
      overflow: hidden;
      width: 100px;
      -webkit-appearance: none;
      background-color: #9a905d;
      border-radius: 5px;
  
      &::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        color: #13bba4;
        margin-top: -1px;
      }
  
      &::-webkit-slider-thumb {
        width: 10px;
        -webkit-appearance: none;
        height: 10px;
        cursor: pointer;
        background: #434343;
        box-shadow: -80px 0 0 80px #43e5f7;
      }
  
      &::-moz-range-progress {
        background-color: #43e5f7; 
      }
  
      &::-moz-range-track {  
        background-color: #9a905d;
      }
  
      &::-ms-fill-lower {
        background-color: #43e5f7; 
      }
  
      &::-ms-fill-upper {  
        background-color: #9a905d;
      }
    }
  }
}
